{% load tethys_gizmos %}
<div id="message" class="alert alert-danger hidden" role="alert"></div>
<input id="watershed_id" type="hidden" value="{{watershed.id}}"/>
{% gizmo text_input watershed_name_input %}
{% gizmo text_input service_folder_input %}
{% gizmo text_input spt_watershed_input %}
{% gizmo text_input spt_basin_input %}
{% gizmo text_input spt_reach_id_input %}
{% gizmo toggle_switch rc_upload_toggle_switch %}
<div class="form-group rc_upload">
        <label class="control-label" for="rc-upload-input">Rating Curve CSV File (Required)</label>
        <input id="rc-upload-input" name="rc-upload-input" type="file" accept=".csv" >
    </div>