{% extends "hmfv/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h1>Select a Watershed</h1>

{% if watersheds_length > 0 %}
    <form action="{% url 'hmfv:map' %}" method="get">

        {% gizmo select_input watershed_select %}
        <div class="btn-group ">
            <a name="submit-go-to-map" class="btn btn-success" role="button" onclick="document.forms[0].submit();" id="submit-go-to-map">
                <span class="glyphicon glyphicon-play"></span>View Watershed
            </a>
        </div>
    </form>
    {% if user.is_superuser or user.is_staff %}
    <p class="help-block">Don't see the watershed you want? Add one
        <a href="{% url 'hmfv:add-watershed' %}">here</a>.</p>
    {% endif %}
{% else %}
<div class="alert alert-warning" role="alert">Sorry. There appear to be no watersheds in the database at this time.</div>
    {% if user.is_superuser or user.is_staff %}
    <p>To add one click <a href="{% url 'hmfv:add-watershed' %}">here.</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block app_actions %}

{% endblock %}