{% extends "hmfv/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content %}
<h1>Seleccione una Cuenca</h1>

{% if watersheds_length > 0 %}
    <form id="watershedForm" action="{% url 'hmfv:map' %}" method="get">

        {% gizmo select_input watershed_select %}
        <div class="btn-group ">
            <button name="submit-go-to-map" class="btn btn-success" role="button" form="watershedForm" submit="True" id="submit-go-to-map">
                <span class="glyphicon glyphicon-play"></span>Ver Cuenca
            </button>
        </div>
    </form>
    {% if user.is_superuser or user.is_staff %}
    <p class="help-block">¿No ve ninguna cuenca? Agregue una
        <a href="{% url 'hmfv:add-watershed' %}">aquí</a>.</p>
    {% endif %}
{% else %}
<div class="alert alert-warning" role="alert">No hay ninguna cuenca en la base de datos.</div>
    {% if user.is_superuser or user.is_staff %}
    <p>Para aguegar una haga Click <a href="{% url 'hmfv:add-watershed' %}">Aquí.</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block app_actions %}

{% endblock %}